{% extends 'base.html.twig' %}

{% block title %}Legend Of Dismodia{% endblock %}

{% block body %}

<div class="col-xs-12 d-flex position-relative justify-content-center align-items-center w-100 encart-video px-0">
   <i id="soundUp" class="fas fa-volume-up fa-2x"></i>
   <i id="soundOff" class="fas fa-volume-off fa-2x"></i>
   <video id="trailer" autoplay controls src="assets/video/cinematiquefin.mp4"></video>
</div>

{% endblock %}