{% extends 'base.html.twig' %}

{% block title %}Legend Of Dismodia{% endblock %}

{% block body %}
<div class="container col-md-6">
    <header>
        <h1 class="titre">LEGEND OF DISMODIA</h1>
    </header>
    <div class="row col-md-12">
        <img src={{ asset('assets/img/volcano2.png')}} alt="posterofgame">
    </div>


</div>
{% endblock %}