{% extends 'base.html.twig' %}

{% block title %}Legend Of Dismodia{% endblock %}

{% block body %}

    
        <h1>Entrez dans la legende!</h1>

<div class="video">
   <video controls src="assets/video/legendofdismodia.mp4"></video>
</div>

{% endblock %}