{% extends 'base.html.twig' %}

{% block title %}Legend Of Dismodia{% endblock %}

{% block body %}
    <header>
        <h1>Entrez dans la legende!</h1>
    </header>

    <img src={{ asset('assets/img/volcano2.png')}} alt="posterofgame" class="img-center">

{% endblock %}