body {
    background: #263238;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-family: 'Merienda', cursive;
    text-align: center;
    padding: 1.25rem;
}

/* icônes FontAwesome */
i {
    color: #1e4363;
    width: 20px;
    height: 20px;
    text-align: center;
}
.btn i {
    color: white;
}
nav .fa, nav .fas {
    padding-right: 3px;
    padding-left: 3px;
}
.toggle i {
    color: gray;
}

/* boutons */
.btn-primary {
    background-color: #795548 !important;
}
.btn-facebook {
    background-color: #4267b2;
}
.btn:hover {
    color: white!important;
}

/* aide du formulaire */
.text-muted {
    color: #90a4ae !important;
}

/* conteneur principal */
.container {
    padding: 15px 80px;
    max-width: calc(100vw - 260px);
}

/* images */
.container img {
    max-width: 100%;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* modal de login */
.modal-content {
    background-color: #e7e7e7;
}
.modal-content p {
    color: #414141;
}
/** tabs **/
/*** tab 1 ***/
.modal-content .nav-link.active i {
    color: inherit;
}
.modal-content .nav-link.active {
    background: #e7e7e7;
    border-color: transparent;
}
.modal-content .nav-link.active:hover {
    background: #e7e7e7;
}
/*** tab 2 ***/
.modal-content .nav-tabs {
    background: #795548;
}
.modal-content .nav-link, .modal-content .nav-link i {
    color: white;
}
.modal-content .nav-link:hover {
    border-color: transparent;
    background: rgba(0,0,0,0.1)
}
.modal-content .nav-link:focus {
    border-color: transparent;
}

/*******Gestion de la vidéo dans la page d'acceuil******/

.encart-video {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.encart-video video{
    width: 100%;
}
.rectangle{
	width:150px;
    height:80px;
    background:#ff793f;  
}
.rectangle a {
    color:whitesmoke;
}
/*****************************************************************/
.img {
    height: 200px;
    width: 200px;
}
.img2 {
    height: 300px;
    width: 300px;
}
.img3 {
    height: 300px;
    width: 800px;
}

.encart {
    padding: 20px;
    width: 450px;
    border: 2px solid whitesmoke;
}
.encart2 {
    padding-top: 1rem;
    margin: auto;
}
/****************************************************************/

/*************Sound Menu***************************/

#soundUp, #soundOff{
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 2;
    color: #76b4bd;
    cursor: pointer;
}


/*************************************************/

/** footer **/
.modal-footer {
    border-top: 1px solid #ced4da;
    display: inherit;
}


/* responsive */

/* @media (max-width: 1200px) {
    .container {
        max-width: calc(1140px - 240px) !important;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: calc(960px - 240px) !important;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: calc(720px - 240px) !important;
    }
} */

tr{
    border: 1px solid white;
}

th{
    border: 1px solid white;
}
td{
  border: 1px solid white;
}


@media (max-width: 766px) {
    .container {
        max-width: inherit;
        padding:  0 15px;
    }
    .rectangle {
        display:none;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1400px !important;
    }
}
