body {
    background: #263238;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-family: 'Merienda', cursive;
    text-align: center;
    padding: 1.25rem;
}

i {
    color: #1e4363;
}
button i {
    color: white;
}

.text-muted {
    color: #90a4ae !important;
}

/* .container { */
     /* à revoir */
    /* max-width: calc(100vw - 240px - 30px); */
/* } */

.container img {
    max-width: 100%;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 766px) {
    .container {
        max-width: inherit;
    }
}