<p>Un nouveau message a été envoyé sur Legend of Dismodia !</p>

<p><strong>Expédieur :</strong> {{ name }} {% if email %}({{ email }}){% else %}{% endif %}</p>
<p><strong>Message :</strong> {{ message }}</p>