<h2>Réinitialisation de votre mot de passse</h2>

<p>Bonjour,</p>

<p>Un reset de mot de passe du compte <strong>{{username.username}}</strong> a été demandé et vous recevez ce mail car le compte est associé à cette addresse email.</p>

<p>Si vous êtes à l'origine de cette demande, vous pouvez cliquer <a href="http://127.0.0.1:8000/forgot?token={{token}}">ici</a> pour réinitialiser votre mot de passe.</p>

<p>Si ce n'est pas le cas, vous pouvez ignorer ce message.</p>

Cordialement,<br>
L'équipe de Legend Of Dismodia.