{% extends 'base.html.twig' %}
{% block body %}
    <h1>Legend Of Dismodia</h1>

    <p>
        Bienvenue dans le monde de Dismodia, royaume oublié de la Grèce antique où la paix règne depuis plus de deux siècles. Kalhanne, sa princesse, va bientôt fêter ses 18 ans. Malheureusement, un mal vieux de 10 000 ans attend le moment propice pour agir.
    </p>
    <p>
        La veille de son 18ème anniversaire, elle part en mission dans un royaume voisin. Celui-ci a besoin de son aide, car ses villages se font attaquer par un dragon.
    </p>
    <p>
        En effet, en plus d'être la princesse de Dismodia, Kalhanne est également une formidable guerrière et magicienne. Armée de sa rapière et de sa magie, elle a déjà combattu dans la plupart des royaumes frontaliers.
    </p>
    <p> 
        Le royaume de Dismodia est maître autour d'eux et personne n'ose l'attaquer, mais tous espèrent obtenir ses faveurs. C'est d'autant plus vrai dans les royaumes où leur régent a un fils aîné. Plusieurs prétendants se sont déjà présentés à Kalhanne, mais personne n'a réussi à obtenir ses faveurs, car la princesse cherchait un garçon aventureux qui partirait explorer le monde avec elle, et elle ne voulait pas de ces couarts de petits princes.
    </p>
    <p>
        Malheureusement, la paix dans le royaume de Dismodia prend fin. Profitant de son absence, Dipsos, un ancien maître des démons qui avait été scellé il y a très longtemps par les ancêtres de Kalhanne, attaque ses parents et les transforme en pierre pour absorber leur essence vitale. Avec le passage du temps ce sceau avait été affaibli petit à petit, jusqu'à permettre à Dispos de reprendre d'abord conscience, puis forme dans une version affaiblie. S'il réussit à absorber toute l'essence vitale des deux souverains, le sceau se brisera et cela permettra sa résurection complète.
    </p>
    <p>
        Vous incarnez la princesse Kalhanne et vous avez moins de 48h pour venir à bout du donjon et délivrer vos parents, afin d'empêcher la résurection complète de Dipsos. A vous de jouer.
    </p>

{% endblock %}