{% extends 'base.html.twig' %}
{% block body %}
<div class="container col-md-6"> 

    <h1>Legend Of Dismodia</h1>

    <p>
        Bienvenue dans le monde de Dismodia, ce royaume oubié de la Grêce antique où une paix règne depuis plus de deux siècle,
        Kalhane la princesse de ce royaume va bientôt fêter ses 18 ans, malheureusement un mal vieux de 10 000 ans attend le moment
        propice pour agir. La veille de son 18ème anniversaire, la princesse partie en mission un royaume voisin ayant requis son
        aide afin de le débarrasser du dragon qui attaquait leurs villages. Oui Kalhanne n'était pas seulement la princesse de
        Dismodia mais également une formidable guerrière et magicienne armé de sa rapière et de sa magie. Elle avait
        combattu dans les différents royaumes adjacents.
    </p>
    <p>
        Le royaume de Dismodia était le royaume maitre de ce secteur et personne n'osait l'attaquer mais tous espéraient obtenir ses faveurs
        surtout les royaumes où l'ainé des enfants du régents était un garçon. Plusieurs prétendant se sont présentés à Kalhanne mais personnes
        n'a réussi à obtenir ses faveurs.<br>
        La princesse cherchait un garçon aventureux qui partirait avec elle explorer le monde, elle ne voulait pas de ces couarts de petit prince.
    </p>
    <p>
        Malheureusement la paix dans le royaume de Dismodia prit fin, Dispos profita de l'absence de la princesse pour attaquer ses parents les transformer
        en pierre afin d'absorbé l'essence vitale des deux souverins ce qui permettra sa résurection complète. <br><br>

        Vous incarnez la princesse Kalhane et vous avez moins de 48h pour venir à bout du donjon et délivrer vos pa Arents afin d'empécher la resurection complète
        de Dipsos. A vous de jouez.
    </p>
</div>
{% endblock %}