{% extends 'base.html.twig' %}


{% block body %}

<h1>Votre Compte</h1>

<h2>Nom d'utilisateur: {{user.username}}</h2>
<p>Adresse mail: {{user.email}}</p>

<img src="assets/img/princesse.png" alt="image de la princesse">

    
{% endblock %}