{% extends 'base.html.twig' %}


{% block body %}
<div class='container col-md-6'>
<h1>Votre Compte</h1>

<h2>Nom d'utilisateur: {{user.username}}</h2>
<p>Adresse mail: {{user.email}}</p>



</div>

    
{% endblock %}