{% extends 'base.html.twig' %}
{% block title %}Merci ! - {{ parent() }}{% endblock %}

{% block body %}
<h1>Mot de passe oublié</h1>

<p>Votre demande de réinitialisation de mot de passe a bien été enregistrée.</p>
<p>Si votre addresse fait partie de notre base de données, vous recevrez un mail de changement de mot de passe.</p>
{% endblock %}