{% extends 'base.html.twig' %}
{% block title %}Merci ! - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Mot de passe oublié</h1>

    <p>Votre demande de réinitialisation de mot de passe a été enregistrée.</p>

    <p>Si votre addresse fait bien partie de notre base de données, vous recevrez un mail avec un lien de changement de mot de passe.</p>
</div>
{% endblock %}