{% extends 'base.html.twig' %}
{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Nouveau mot de passe</h1>
    {{ form_start (form, {
        'attr': {'novalidate': 'novalidate'}
    }) }}
        {{ form_row (form.plainPassword) }}
        <button type="submit" class="btn btn-primary">Confirmer</button>
    {{ form_end (form) }}
</div>
{% endblock %}